# Core Libraries
numpy
pandas
scipy

# Machine Learning
scikit-learn
xgboost
joblib

# Explainable AI
shap
numba
llvmlite

# Optimization (Trend Filtering)
cvxpy
cvxopt
clarabel
highspy
osqp
scs
sparsediffpy

# Data Processing
openpyxl
tqdm

# Visualization
matplotlib
plotly

# Dashboard
streamlit
streamlit-option-menu==0.4.0

# Development
jupyter